/* Background data (Original source: https://subtlepatterns.com/grid-me/) */


/* Animations */
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

/* Main styles */


/* Main styles */
.background-animation {
  animation: bg-scrolling-reverse 0.92s linear infinite;
  color:'black';
background-color: black;
  &::before {
    font-size: 8rem;
    font-weight: 100;
    font-style: normal;
  }
}

.dark .background-animation {
  color: white;
  background-color: black; /* Dark theme styles */
}

